<header class="header"{% if page.img %} style="background-image:url(/img/{{ page.img }})"{% endif %}>
  <div class="l-container">
      <a href="{{site.url}}/" class="header-logo">
          <img src="{{site.url}}/img/logo.png" alt="Logo">
      </a>
      <nav class="menu">
          <a href="{{site.url}}/" class="menu-item">Accueil</a>
          <a href="{{site.url}}/news/" class="menu-item">News</a>
          <a href="{{site.url}}/portfolio/" class="menu-item">Portfolio</a>
          <a href="{{site.url}}/about/" class="menu-item">About</a>
      </nav>
      <div class="cb"></div>
      <div class="header-baseline">
          <div class="header-baseline-l">Best Creative Studio</div>
          <div class="header-baseline-l header-baseline-l2">Design / Branding / WordPress</div>
          <div class="header-baseline-l header-baseline-l3">We Make Great Ideas Happen</div>
      </div>
      <p>
          <a class="btn" href="#">Learn more</a>
      </p>
  </div>
</header>